.verktyg{
  box-sizing: border-box;
  width: calc(100% - 40px);
  margin: 20px;
  padding: 20px;
  background-color: var(--colorBorderSecondary);
  border-radius: var(--borderRadius);
  border: var(--colorBorderPrimary) 1px dotted;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.verktygsrad{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: row;
  border: 1px dotted var(--colorBorderPrimary);
  padding: 5px;
  margin: 5px;
  border-radius: var(--borderRadius);
}

.verktyg button{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  filter: var(--dropShadow);
  margin: 10px;
  background-color: var(--colorBackground);
}

.tema0{
  background-color: #ef5350 !important;
}
.tema1{
  background-color: #004d40 !important;
}
.tema2{
  background-color: #223344 !important;
}

.fontx{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  background-color: #b71c1c !important;
  color: white;
  line-height: 0px;
}
.font0{
  font-family: 'Pacifico', cursive;
}
.font1{
  font-family: 'Ubuntu', sans-serif;
}
.font2{
  font-family: 'Baloo Chettan 2', cursive;
}
.font3{
  font-family: 'DM Mono', monospace;
}

.animationdummy{
  width: 20px;
  height: 20px;
  background-color: #456789;
  margin-top: auto;
  margin-bottom: auto;
  top: calc(50% - 10px);
  left: 80px;
  right: auto;
  position: absolute;
}
.dummy-1{
  transition: all 2s ease;
}
.dummy0{
  transition: all 1s ease;
}
.dummy1{
  transition: all 0.5s ease;
}
.dummy2{
  transition: all 0.25s ease;
}
.dummy3{
  transition: all 0.125s ease;
}
