@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,700|Pacifico|Ubuntu:400,400i,700&display=swap');

*{
  transition: color 0.5s 0s ease,
              background-color 1s 0s ease;
}

:root{


  --boxShadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
              0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

  --dropShadow: drop-shadow(0px 1px 1px rgba(0,0,0,0.2))
                drop-shadow(0px 2px 2px rgba(0,0,0,0.2))
                drop-shadow(0px 4px 4px rgba(0,0,0,0.2))
                drop-shadow(0px 8px 8px rgba(0,0,0,0.2))
                drop-shadow(0px 16px 16px rgba(0,0,0,0.2))
}

::selection {
  background: var(--colorAccentSecondary); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--colorAccentSecondary); /* Gecko Browsers */
}

body{  /*Canvas*/
  font-family: var(--fontPrimary);
  margin: 0px;
  padding: 0px;
  background-color: var(--colorBackground);
  color: var(--colorTextPrimary);
  /* min-height: 100vh; */
}

header{
  transition: all 1s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--colorHeaderBackground);
  height: 300px;
  z-index: 2;
  padding-top: 10px;
  margin: 0px;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vw), 50% 100%, 0% calc(100% - 5vw));
}

.headerShadow{
  width: 100%;
  position:fixed;
  filter: var(--dropShadow);
  overflow: hidden;
  z-index: 2;
}

header img{
  position: absolute;

  min-height: 100%;
  min-width: 100%;
  height: auto;



  align-self: center;
  z-index: 2;
  margin: 0px;
  padding: 0px;
  filter: blur(5px) brightness(0.5);
  transform: scale(1.1);
}

header h2{
  transition: all 1s ease, width 1.5s ease 0.1s;
  line-height: 100px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  /* border: 1px red solid; */
  text-align: center;
  font-size: 50px;
  z-index: 3;
  /* width: auto; */
  font-family: var(--fontLogo);
  color: var(--colorLogo);
  filter: var(--dropShadow);
}

.colorAccentPrimary{
  color: var(--colorAccentPrimary);
}

nav{
  height: 40px;
  pointer-events: none;
  position: relative;
  top: 0px;
  z-index: 3;
  /* background-color: var(--colorNavBackground); */
  /* box-shadow: var(--boxShadow); */
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  width: 100%;
  /* padding-top: 0px; */
  /* border-bottom: solid var(--colorBorderPrimary) 1px; */
  max-width: 100%;
  flex-wrap: wrap;
  transition: all 0.3s ease, height 0s;
}

/*.navFixed{

  position: fixed;
  width: 250px;
   background-color: var(--colorBackground);
  height: 100%;
  padding: 0px;
  flex-direction: column;

  flex-wrap: nowrap;
  z-index: 0 !important;
}

.navFixed a{
  position: relative;
  color: rgba(255,255,255,0);
  text-align:left;
  margin: 10px 20px;
  padding: 20px;
  margin-left: 0px;
  left: -180px;
   background-color: var(--colorAccentPrimary);
  border-bottom-right-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  transition: left 0.5s 0.3s ease, background 0.2s ease, filter 0.1s 0s ease, color 0.1s ease;
  z-index: 1 !important;
}

.navFixed a img{
  position: absolute;
  right: 0px;
  top: 25%;
  right: 10px;
  height: 50%;
  width: auto;
  z-index: 1;
  filter: invert(0.85);
  transition: invert 0.3s ease;
}

body.themeDark .navFixed a img{
  filter: invert(0.0);
}


.navFixed a:hover{
  background-color: var(--colorAccentSecondary);
  color: var(--colorTextInverse);
  left: 0px;
  filter: var(--dropShadow);
  transition: left 0.3s 0s ease, background 0.5s ease, filter 0.3s 0.1s ease;
}

.navFixed a:hover img{
  filter: none;
}*/

nav a{

  pointer-events: all;
  color: var(--colorTextInverse);
  text-decoration: none;
  margin: 5px 10px;
  /* background-color: var(--colorBorderSecondary); */
  /* border: 1px solid var(--colorBorderPrimary);
  border-radius: var(--borderRadius); */
  /* padding: 5px 20px; */
}

header nav a:hover{
  color: var(--colorTextInverse) !important;
  transform: scale(1.1);
  filter: var(--dropShadow);
}

section{
  min-height: 200px;
  width: 500px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width:80%;
}

h1{
  font-size: 2em;
  text-align: left;
  margin-left: 50px;
}

a{
  color: var(--colorAccentPrimary);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.1s ease;

}

a:hover{
  color: var(--colorAccentSecondary);
}

footer{
  display: flex;
  justify-content: center;
  height: 50px;
  border-top: solid var(--colorBorderPrimary) 1px;
  max-width: 100%;

}

footer p{
  width: 650px;
  margin: auto;
  padding-left: 25px;

}

#headerNav{
  transition: all 1s ease;
  top: 10px;
  line-height: 0px;
  -webkit-animation: navbig 2s 1;
  -moz-animation: navbig 2s 1;
  -o-animation: navbig 2s 1;
  animation: navbig 2s 1;
}

#headerNav.compact{
  padding-top: 0px;
  height: 0px;
  width: calc(100% - 300px);
  top: 0px;
  line-height: 0px;
  margin-left: 150px;
  margin-right: 150px;
  -webkit-animation: navcompact 2s 1;
  -moz-animation: navcompact 2s 1;
  -o-animation: navcompact 2s 1;
  animation: navcompact 2s 1;
}

header.compact{
  transition: all 1s ease 0s;
  height: 60px;
}

header h2.compact{

  width: 150px;
  line-height: 0px;
  font-size: 30px;
  margin-left: 15px;
}

.topmargin{
  height: 300px;
}

/* #headerNav.compact{
  height: 0px;
  padding-top: 0px;
  top: -50px;
  margin-top: 0px;
  margin-left: 150px;
  width: calc(100% - 150px);
}

header.compact{
  height: 60px;
}

header h2.compact{
  width: 150px;
  font-size: 30px;
  margin-left: 15px;
} */



@media screen and (max-width: 1000px) {
  header{

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--colorHeaderBackground);
    height: 300px;
    width: 100%;
    z-index: 2;
    padding-top: 10px;
    margin: 0px;
    top: 0px;
    left: 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vw), 50% 100%, 0% calc(100% - 5vw));
  }

  #headerNav{
    transition: all 1s ease;
    /* height: 0px;
    padding-top: 0px;
    top: -50px;
    margin-top: 0px;
    margin-left: 150px;
    width: calc(100% - 150px); */
    opacity: 1;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
    line-height: 15px;
  }

  #headerNav.compact{
    transition: all 0.3s ease;
    /* height: 0px;
    padding-top: 0px;
    top: -50px;
    margin-top: 0px;*/
    margin-left: 0px;
    width: 100%;
    line-height: 15px;
    opacity: 0;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
  }

  header.compact{
    /* height: 60px; */
  }

  header h2.compact{
    /* width: 150px;
    font-size: 30px;
    margin-left: 15px; */
    width: 100%;
    margin-left: 0px;
  }



  .headerShadow{
    filter: var(--dropShadow);
    overflow: hidden;
    z-index: 2;
    position: fixed;
    width: 100%;
  }

  /* .navFixed {
    display: none;
    width: 100%;
    height: auto;
    flex-direction: row;
    bottom: 0px;
    top: auto;
    left: 0px;
    justify-content: center;
  }

  .navFixed a{
    position: relative;
    color: rgba(0,0,0,0);
    text-align:center;
    margin: 0px 5px;
    padding: 0px;
    margin-bottom: 0px;
    left: 0px;
    background-color: var(--colorAccentPrimary);
    border-bottom-right-radius: 0px;
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
    transition: all 0.2s ease;
    width: 40px;
    height: 30px;
    bottom: 0px;
  }

  .navFixed a img{
    position: absolute;
    right: 0px;
    top: 5px;
    left: auto;
    right: 25%;
    height: auto;
    width: 50%;
    filter: none;
  }


  .navFixed a:hover{
    background-color: var(--colorAccentSecondary);
    color: rgba(0,0,0,0);
    left: 0px;
  } */

  footer{
    padding-bottom: 30px;
  }


}

@keyframes navcompact {
  0%{
    opacity: 1;
  }

  10%{
    opacity: 0;
  }

  65%{
    opacity: 0;
    top: 30px;
    left: 0px;
  }

  100%{
    opacity: 1;
    top: 0px;
    left: 0px;
  }

}

@keyframes navbig {
  0%{
    opacity: 1;
    left: 0px;
  }

  10%{
    opacity: 0;
    left: 10px;
  }

  65%{
    opacity: 0;
    left: 0px;
    top: 20px;
  }

  100%{
    opacity: 1;
    top: 10px;

  }

}
